/.vs
/CodingProblemsLib/bin
/*.suo
/CodingProblemsLib/obj
/CodingProblemsTests/bin
/CodingProblemsTests/obj
/CodingProblems.sln.DotSettings.user
/Concurrency/bin
/Concurrency/obj
/ConcurrencyTests/bin
/ConcurrencyTests/obj
